@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

/*Id's*/
#bt-inic {
	border-radius: 30px;
}

#carta{
	padding-top: 40px;
}

#caixa-acesso{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #223D80;
}

#slide{
	background: #223D80;
	padding-top: 5%; 
	padding-bottom: 5%; 
	padding-left: 15%; 
	padding-right: 15%; 
}

#titulo-mapa h2{
	color: #FFFFFF;
	font-size: 2.8em;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin-bottom: 10%;
	margin-top: 5%;
}

#titulo-mapa li{
	font-size: 1.2em;
	color: #fff;
	line-height: 2
}

/*classes*/
.acesso{
	color: white;
	margin-bottom: 10px;
	background: #223D80;
	border: 0;
}

.acesso:hover{
	color: #DAA520;
}

.noticia{
	padding-top: 50px;
	padding-bottom: 50px;
}

.img-noticia{
	
   transition: .5s ease;
}

.img-noticia:hover{
	
   transform: scale(1.1);
}

.texto-link{
	text-decoration: none;
}

.f-roboto{
	font-family: 'Roboto', sans-serif;
}

li > a{
	text-decoration: none;
	color: #397CBE; /*<----- cor dos links*/
}

div#lista-site li{
	list-style: none;

}

div#lista-site ul{
	padding-left: 0;
}

li > a:hover{
	text-decoration: underline;
}

.jvm-logo{
	text-decoration: none;
	color: grey;
}

